[user]
    email = bob@dobbs.com
    name  = JR "Bob" Dobbs
[core]
    editor   = vim
    # Linux / OSX
    autocrlf = false
    safecrlf = true
    # Windows
    ; autocrlf = true
[alias]
    cm   = !git add -A && git commit -m
    co   = checkout
    cob  = checkout -b
    dump = cat-file -p
    ec   = config --global -e
    hist = log --graph --full-history --all --pretty=format:'%C(yellow bold)%h%Creset -%C(green bold)%d%Creset %s %C(green)(%cr) %C(bold cyan)<%an>%Creset'
    save = !git add -A && git commit -m 'SAVEPOINT'
    st   = status
    type = cat-file -t
    up   = !git fetch && git merge origin/master
    wip  = !git add -A && git commit -m 'WIP'
[color]
    ui = auto
