## Node
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log


## Directories
.sass-cache
node_modules
bower_components


## SublimeText
*.sublime-workspace


## Linux
.*
*~

# KDE
.directory


## Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/


## OSX
.DS_Store
._*
.Spotlight-V100
.Trashes


## Config Files
!.gitignore
!.editorconfig
!.bowerrc
!.eslintrc
!.jshintrc
!.jsxhintrc
!.jscsrc


## Project specific
dist/
staging/
dev/public/css/
test_dataset.json
